@use '../utils/variables.scss' as vars;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // <-- Esto previene el scroll horizontal
 
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}