section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1.5rem;
  article {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    padding: 1.5rem 2rem;
    margin-bottom: 0.5rem;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      /* Efecto de zoom */
      transform: scale(1.05);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 0 0.3rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    p {
      font-size: 1rem;
      color: #222;
      margin: 0;
      line-height: 1.6;
    }
  }
}
.materias-primas-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
