.table-row {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}
table {
  border-collapse: collapse;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0;
  border: none;
  justify-content: center;
}

.carbon-footprint-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra los elementos horizontalmente */
  p {
  margin: 0; /* Elimina el margen del párrafo */
  font-size: 0.9rem; /* Tamaño más pequeño para los kg */
}
}
b {
  font-size: 1.2rem; /* Tamaño más grande para la huella */
  margin-bottom: 0.2rem; /* Espaciado entre la huella y los kg */
}
 .table-cell {
    display: flex;
    justify-content: space-between; // Alinea el texto y el valor
    width: 100%;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    padding: 4px 0;
  word-break: break-word;
 img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px; // Espacio entre imagen y nombre del producto
  }
    &:last-child {
      border-bottom: none; // Elimina el borde inferior del último elemento
    }

    &::before {
      content: attr(data-label); // Usa el atributo `data-label` para mostrar el nombre de la columna
      font-weight: bold;
      color: #555;
      width: 100px; // Ancho fijo para el label
    }
  }

  .results-table thead {
    display: none; // Oculta las cabeceras de la tabla en móviles
  }

.score-bar-container {
  margin: 8px 0;
  position: relative;
  height: 32px; // Asegura espacio suficiente para la barra y el badge
  width: 50%; // Asegura que ocupe todo el ancho disponible
  display: flex;
  align-items: center; // Centra verticalmente el contenido
  justify-content: center; // Centra horizontalmente la barra
  box-sizing: border-box; // Asegura que padding y border no afecten el tamaño total
}

.score-bar {
  display: flex;
  height: 12px;
  border-radius: 6px;
  overflow: hidden;
  background: #eee;
  position: relative;
  width: 100%; // Asegura que la barra ocupe todo el ancho del contenedor
}

.score-bar-segment {
  flex: 1;
  height: 100%;
}

.green {
  background: #4caf50;
}
.lime {
  background: #cddc39;
}
.yellow {
  background: #ffeb3b;
}
.orange {
  background: #ff9800;
}
.red {
  background: #f44336;
}

.score-badge {
  position: absolute;
  left: 0; // Asegura que el badge esté alineado al inicio de la barra
  transition: left 0.3s;
  z-index: 2;

  /* Ajusta el tamaño del badge */
  .score-badge-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 2.5px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px; // Reduce el tamaño de la fuente en móviles
    color: #222;
    box-shadow: 0 2px 8px #0002;
  }
}



.status-badge {
  display: inline-block;
  width: 100px;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  color: #222;
  background: #eee;
  text-align: center;
}

.status-analisis {
  background: #d6ede7;
  color: #222;
}

.status-finalizado {
  background: #1b9c7c;
  color: #fff;
}

.status-pendiente {
  background: #dd8888;
  color: #ffffff;
}

/* Desktop styles */
@media (min-width: 600px) {
  .table-row {
    display: table-row;
    border-bottom: none;
    padding: 0;
  }

  .table-cell {
    display: flex;
    align-items: center;
    padding: 8px; // ajusta el padding según necesites
    img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px; // Espacio entre imagen y nombre del producto
  }
    .product-name {
      margin: auto;
      padding-left: 16px;
    }
  }

  .hide-mobile {
    display: table-cell;
  }
  .carbon-footprint-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  p {
  margin: 0; /* Elimina el margen del párrafo */
  font-size: 0.9rem; /* Tamaño más pequeño para los kg */
}
}
}
